@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.App {
  text-align: center;
  background: #666666;
  height: 100vh;
}

#entireOperation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
}

#popup {
    position: fixed;

    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
}

#inner-popup{
    position: fixed;

    width: 600px;
    background: #cccccc;
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 0px 30px 20px 30px;
    margin-top: 150px;
}

.popup-input{
    height: 20px;

    font-size: 15px;

    padding-left: 5px;
}

.header {
    height: 120px;
    width: 100vw;
    background: #6aa84f;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;

    font-size: 30px;
    font-family: raleway;
    color: white;
}

.headbutt {
    height: 80px;
    width: 80px;
    background: transparent;
    border-radius: 40px;
    border: transparent;

    font-size: 50px;
    color: white;
}

#progression {
    width: 500px;
    background: #6aa84f;
    border-radius: 15px;

    margin-top: 30px;

    color: #274e13;
}